<div class="mt-4">
    <form method="post">
<div class="form-group">
<label for="exampleInputEmail1">Từ khóa</label>
<input type="text" name="q" class="form-control" id="search-input" aria-describedby="emailHelp" placeholder="Nhập từ khóa"> 
</div>

<div class="form-group">
<label for="exampleInputEmail1">Giới tính</label>
<select type="text" name="gender" class="form-control" id="search-input" aria-describedby="emailHelp" >
    <option value="unknow">-- Chọn giới tính</option>
    <option value="nam">Nam </option>
    <option value="nu">Nữ</option>
     </select>
</div>

<button type="submit" class="btn btn-primary">Search</button>
</form>
</div>